* {
  margin: 0;
  box-sizing: border-box;
}

body{
  background-color:#4e3b31;
  
 
}


.parrafo {
  background-color: yellow;
  color: black;
  text-align: center;
  font-weight: bold;
  height: 40px;
  padding: 10px 0px;
}

.logo {
  margin-left: 50px;
}

.menu {
  list-style-type: none;
  margin-top: 50px;
  
  



}

.menu li {
  margin-right: 10px;
  text-align: center;
  width: 200px;
  color: yellow;
  padding: 0px 10px;
  display: inline;
}

.menu a {
  text-decoration: none;
  color: yellow;
}

header {
  display: flex;
  display: fixed;
  background-color: #4e3b31;
}

.idiomas {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 100px;
  /* margin-top: 30px;*/

}

.idiomas img {
  /* margin-right: 500px;*/
  display: flex;
  justify-content: space-between;
  margin-right: 30px;

}

h1 {
  color: yellow;
  text-align: center;
  
}

main p {
  color: white;
  text-align: center;
 
  width:800px;
  margin:50px auto;
}

#prueba {
  display: flex;
  position: absolute;
  margin-top: 800px;
  margin-left: 100px;
  width: 90%;
}

.mostrar {
  width: auto;
}

.color4 {
  color: orangered;
}

.color1 {
  color:aqua;

}

.color2 {
  color: aqua;

}

/*modal content*/
.modal-container {
  width: 80%;
  margin: 0 10%;
  max-height: 88vh;
  color:black;
  background-color: greenyellow;
  display: flex;
  flex-direction: column;
  align-items: center;
  /*for the top*/
  position: fixed;
  overflow: auto;
  z-index: 9;
  top: 12vh;
  scrollbar-color: none;
}

.modal-container::-webkit-scrollbar {
  display: none;
}

.modal-header {
  display: flex;
  justify-content: space-around;
  /*background-color: #0a0909;*/
  color: rgba(255, 255, 255, 0.411);
  width: 100%;
}

.modal-header-title {
  justify-self: start;
}

.modal-header-button {
  cursor: pointer;
}

.modal-container>.modal-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 70%;
  margin: 10px;
}

.modal-container>div>img {
  height: 120px;
  width: 120px;
}

.total-content {
  font-size: 25px;
  padding: 20px;
  text-align: center;
  padding-top: 20px;
}

/*se agregaron unas lineas de css con media querys para que se adapte mejor al responsive :)*/

@media only screen and (max-width: 750px) {
  .modal-container {
    width: 100%;
    margin: 0;
    min-height: 88vh;
  }

  .modal-container>.modal-content {
    justify-content: space-between;
    width: 100%;
    margin: 2px;
  }

  .modal-container>div>img {
    height: 80px;
    width: 80px;
  }
}

/*delete button product*/
.delete-product {
  cursor: pointer;
}

/*CarritoCounter*/
.cantidad-carrito {
  background-color: red;
  color: white;
  border-radius: 50%;
  font-size: 12px;
  padding: 4px;
  top: 37px;
  right: 14px;
  position: absolute;
  display: none;
}

.sumar {
  cursor: pointer;
}

.restar {
  cursor: pointer;
}

#shopContent {
  display: flex;
  flex-wrap: wrap;
 
  background-color:#4e3b31;

  text-align: center;
  /*padding: 100px;*/
}

.card {
  margin-right: 20px;
  width:500px;
  
}

.comprar {
  margin-bottom: 30px;
  text-decoration: none;
  padding: 10px;
  font-weight: 200;
  font-size: 20px;
  background-color: white;
  border-radius: 6px;
  border: 2px solid ;
  background-image: url("/img/carrito-de-compras.png");
  background-size: 30px 30px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  width: 300px;
}
.comprar:hover {
  background-color: yellowgreen;
}
.price {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  width: 300px;
}
#mostrarexclusivos{
  display:flex;

justify-content: space-around;
  
 align-items: center;
 margin-top: 40px;
height: 400px;
margin-top: 100px;


}
.pexclusivos{
width:200px;
margin:auto;

}
.Comprarexclusivos {
  margin-bottom: 30px;
  text-decoration: none;
  padding: 10px;
  font-weight: 200;
  font-size: 20px;
  background-color: white;
  border-radius: 6px;
  border: 2px solid ;
  background-image: url("/Dear-Cheese/img/carrito-de-compras.png");
  background-size: 30px 30px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  width: 300px;
  
}
.Comprarexclusivos:hover{
  background-color: yellowgreen;
}
.cajas{
  margin: 5px;
  text-align: center;
  height: 300px;
  margin-top: 20px;
 margin-bottom: 10px;
 padding: 30px;
 
 margin-right: 20px;
  width: 100px;
  flex-basis: 20.33%;
/*------------------------------*/
display: flex;
flex-wrap: wrap;
 
  background-color:#4e3b31;

  text-align: center;
  
}
.ComprarNovedades{
  margin-bottom: 30px;
  text-decoration: none;
  padding: 10px;
  font-weight: 200;
  font-size: 20px;
  background-color: white;
  border-radius: 6px;
  border: 2px solid ;
  background-image: url("/Dear-Cheese/img/carrito-de-compras.png");
  background-size: 30px 30px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  width: 300px;

}
#mostrarnovedades {
  display: flex;
}
.ComprarNovedades:hover {
  background-color: yellowgreen;


}
.pnovedades {
color:orangered;
width: 300px;

}

#mostrardestacados{
  display: flex;
}
.pdestacados{
  color:orangered;
 
}

.pcategorias{
  color:orangered;
  width:300px;
}